/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* for the mega menu */
  position: relative;
}

header .logo {
  color: var(--main-color, #2196f3);
  font-size: 26px;
  font-weight: bold;
  /* same height of the entire header */
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}

header nav ul {
  display: flex; 
}

@media (max-width: 767px) {
  /* it willn't work if you add (ul) */
  header nav {
    margin: auto;
  }
}

header nav li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px; 
  position: relative;
  color: #000;
  padding: 0 30px;
  transition: var(--main-transition, 0.3s);
  /* Why? -> left: -100% */
  overflow: hidden;
}

@media (max-width: 767px) {
  header nav li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

header nav li > a::before {
  content: "";
  position: absolute; 
  width: 100%;
  height: 4px;
  background-color: var(--main-color, #2196f3);
  top: 0;
  left: -100%;
  transition: var(--main-transition, 0.3s);
}

header nav li > a:hover {
  color: var(--main-color, #2196f3);
  background-color: #fafafa;
}

header nav li > a:hover::before {
  left: 0;
}
/* End Header */